#header .search {
    position: absolute;
    top: 20px;
    right: 19px;
    width: 0;
    padding-right: 40px;

    input {
        display: none;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        font-size: 1em;
        line-height: 40px;
        color: #000;
        border: 0;
        box-sizing: border-box;
        background-color: transparent;
    }

    button {
        display: none;
        outline:1px solid red;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 40px;
        height: 40px;
        &:before{
            width: 40px;
            height: 40px;
            content: "\e97a";
            font-family: 'xeicon';
            font-size: 24px;
            display:flex;
            justify-content: center;
            align-items: center;
            box-sizing:border-box;
        }
    }

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        width: 40px;
        height: 40px;
        cursor: pointer;
        content: "\e97a";
        font-family: 'xeicon';
        font-size: 24px;
        display:flex;
        justify-content: center;
        align-items: center;
        box-sizing:border-box;
    }

    &:hover:before {
        background-color: #ebebeb;
    }

    &.on {
        width: 322px;
        border-bottom: 1px solid #000;
        display:flex;

        input {
            display: block;
            outline: none;
        }

        button {
            display: block;
        }

        &:before {
            display: none;
        }
    }
}